
<!DOCTYPE html>
<html lang="pt">
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/events.js"></script>

</head>
<body>

    

</body>
</html>
